<table>
  <tr>
    <td>Nickname</td>
    <td>Email</td>
    <td>Posts</td>
    <td>Comments</td>
  </tr>
  <% @report.each do |row| %>
    <tr>
      <td><%= row.user.nickname %></td>
      <td><%= row.user.email %></td>
      <td><%= row.posts_count %></td>
      <td><%= row.comments_count %></td>
    </tr>
  <% end %>
</table>
